<section class="ion-text-center ion-margin-bottom">

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/order-list" class="ion-text-center ion-padding" color="primary">
          <ion-icon name="clipboard"></ion-icon>
          <h2>Pedidos</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/productos" class="ion-text-center ion-padding" color="primary">
          <ion-icon name="list"></ion-icon>
          <h2>Listado de Comidas y Postres</h2>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</section>