<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mesas</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/registro/mesa">
        <ion-icon size="large" slot="icon-only" color="success" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let table of tables">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Mesa {{table.number}}</ion-label>
      <ion-button color="medium" (click)="modifyTable(table)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="deleteTable(table)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
