<app-custom-header [title]="'Cuentas por cerrar'"></app-custom-header>

<ion-content>
  <section>

    <ion-list class="transparent">
      <div id="empty" *ngIf="pendingBills.length == 0" >
        <ion-icon class="item-ico" src="assets/icon/pendingConfirm.svg"></ion-icon>
        <h3>No hay cuentas por cerrar</h3>
      </div>

      <ion-item *ngFor="let pendingBill of pendingBills" color="transparent">
        <ion-icon class="icon-right-margin" src="assets/icon/mesa.svg"></ion-icon>
        <ion-label>{{pendingBill.tableNumber}}</ion-label>
        <ion-button color="primary" (click)="closeBill(pendingBill.id)">
          <ion-icon src="assets/icon/double-check.svg"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

  </section>
</ion-content>