<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>    
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="primary">
        <ion-button routerLink="/registro/usuario">
          <ion-icon size="large" slot="icon-only" color="success" name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{user.name}}</ion-label>
      <ion-button color="medium" (click)="modifyEmployee(user)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="deleteEmployee(user)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>