<app-custom-header [title]="'Pedidos'"></app-custom-header>

<ion-content>

  <!-- #region Listado Pendientes de confirmacion -->

  <section *ngIf="this.currentUser?.profile === Profiles.Waiter">

    <ion-list>
      <ion-list-header>Pendientes de confirmación</ion-list-header>

      <ion-item *ngIf="pendingConfirmOrders.length == 0">
        <ion-icon class="disabled-item item-ico" src="assets/icon/pendingConfirm.svg"></ion-icon>
        <ion-label class="disabled-item">No hay pedidos para confirmar</ion-label>
      </ion-item>

      <ion-item *ngFor="let orderWithUser of pendingConfirmOrders">
        <ion-icon class="item-ico" src="assets/icon/pendingConfirm.svg"></ion-icon>
        <ion-label>Mesa:{{ orderWithUser.user?.currentTable }} | {{ orderWithUser.user?.name }}
          {{ orderWithUser.user?.surname }} </ion-label>
        <ion-button color="success"
          (click)="updateOrderStatus(orderWithUser, Status.PendingPreparation)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button color="danger"
          (click)="updateOrderStatus(orderWithUser, Status.Cancelled)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

  </section>

  <!-- #endregion -->

  <!-- #region Listado de pendientes de preparacion -->

  <!-- <section *ngIf="this.currentUser?.profile === Profiles.Chef || this.currentUser?.profile === Profiles.Bartender"> -->
    <ion-list>
      <ion-list-header>Para preparar</ion-list-header>
      <ion-item *ngIf="pendingPreparationOrders.length == 0">
        <ion-icon class="disabled-item item-ico" src="assets/icon/pendingPreparationFoods.svg"></ion-icon>
        <ion-label class="disabled-item">No hay pedidos para preparar</ion-label>
      </ion-item>

      <ion-item *ngFor="let orderWithUser of pendingPreparationOrders">
        <ion-icon class="item-ico" [src]="orderWithUser.profile === Profiles.Bartender? 'assets/icon/pendingPreparationDrinks.svg' : 'assets/icon/pendingPreparationFoods.svg'"></ion-icon>
        <ion-label>Mesa:{{ orderWithUser.user?.currentTable }} | {{orderWithUser.user?.name}} {{orderWithUser.user?.surname }}</ion-label>
        <ion-button color="success"
          (click)="updateOrderStatus(orderWithUser, Status.Preparing)" *ngIf="this.currentUser?.profile === Profiles.Bartender || this.currentUser?.profile === Profiles.Chef">
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  <!-- </section> -->


  <!-- #endregion -->

  <!-- #region Listado de pedidos En Preparacion -->

  <!-- <section *ngIf="this.currentUser?.profile === Profiles.Chef || this.currentUser?.profile === Profiles.Bartender"> -->

    <ion-list>
      <ion-list-header>En preparación</ion-list-header>

      <ion-item *ngIf="preparingOrders.length == 0">
        <ion-icon class="disabled-item item-ico" src="assets/icon/preparingFoods.svg"></ion-icon>
        <ion-label class="disabled-item">No hay pedidos en preparación</ion-label>
      </ion-item>

      <ion-item *ngFor="let orderWithUser of preparingOrders">
        <ion-icon class="item-ico" [src]="orderWithUser.profile === Profiles.Bartender? 'assets/icon/preparingDrinks.svg' : 'assets/icon/preparingFoods.svg'"></ion-icon>
        <ion-label>Mesa:{{ orderWithUser.user?.currentTable }} | {{ orderWithUser.user?.name}} {{orderWithUser.user?.surname }}</ion-label>
        <ion-button color="primary"
        (click)="updateOrderStatus(orderWithUser, Status.Prepared)" *ngIf="this.currentUser?.profile === Profiles.Bartender || this.currentUser?.profile === Profiles.Chef">
        <ion-icon src="assets/icon/preparedButton.svg"></ion-icon>
      </ion-button>
      </ion-item>
    </ion-list>

  <!-- </section> -->


  <!-- #endregion -->

  <!-- #region Listado de pedidos Preparados -->

  <section *ngIf="this.currentUser?.profile === Profiles.Waiter">
    <ion-list>
      <ion-list-header>Listos para servir</ion-list-header>

      <ion-item *ngIf="preparedOrders.length == 0">
        <ion-icon class="disabled-item item-ico" src="assets/icon/prepared.svg"></ion-icon>
        <ion-label class="disabled-item">No hay pedidos para servir</ion-label>
      </ion-item>

      <ion-item *ngFor="let orderWithUser of preparedOrders">
        <ion-icon class="item-ico" [src]="orderWithUser.profile === Profiles.Bartender? 'assets/icon/preparedDrinks.svg' : 'assets/icon/preparedFood.svg'"></ion-icon>
        <ion-label>Mesa:{{ orderWithUser.user.currentTable }} | {{ orderWithUser.user.name }} {{ orderWithUser.user.surname }}</ion-label>
        <ion-button color="primary"
          (click)="updateOrderStatus(orderWithUser, Status.Delivered)">
          <ion-icon src="assets/icon/double-check.svg"></ion-icon>
        </ion-button>
        <ion-button color="danger"
          (click)="updateOrderStatus(orderWithUser, Status.Cancelled)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </section>

  <!-- #endregion -->

</ion-content>