<app-custom-header [title]="'Productos'" [icon]="'add-circle'" [iconColor]="'success'" (onClick)="routerToLink()"></app-custom-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products" (click)="showDetails(product)">
      <ion-icon class="icon-right-margin" name="restaurant"></ion-icon>
      <ion-label>{{product.name}}</ion-label>
      <ion-button color="medium" (click)="modifyProduct($event)" routerLink="/modificar/producto/{{product.id}}">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="deleteProduct($event, product.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>