<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/registro/producto">
        <ion-icon size="large" slot="icon-only" color="success" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products" (click)="showDetails($event)">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>{{product.name}}</ion-label>
      <ion-button color="medium" (click)="modifyProduct($event, product)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="deleteProduct($event, product.id)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>