<ion-button color="medium" (click)="scan()">Escanear QR</ion-button>
<form class="form">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item class="group">
      <ion-label for="user" class="label" position="floating">Número de mesa</ion-label>
      <ion-input type="number" class="input" [(ngModel)]="table.number" name="number" required></ion-input>
    </ion-item>
    <ion-item class="group">
      <ion-label for="pass" class="label" position="floating">Cantidad de Comensales</ion-label>
      <ion-input type="number" class="input" [(ngModel)]="table.capacity" name="capacity" required></ion-input>
    </ion-item>
    <ion-item class="group">
      <ion-label for="pass" class="label" position="floating">Tipo</ion-label>
      <ion-input type="text" class="input" [(ngModel)]="table.type" name="type" required></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="medium" (click)="takePhoto()">Sacar Foto</ion-button>
  <ion-button color="medium" (click)="register()">Registrar</ion-button>
</form>