<form class="form" [formGroup]="form" (ngSubmit)="register(form.value)">

  <ion-item>
    <ion-label position="floating">Número de mesa</ion-label>
    <ion-input type="number" formControlName="number"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.number">
      <small *ngIf="form.get('number').hasError(validation.type) && (form.get('number').dirty || form.get('number').touched)">
        {{ validation.message }}
      </small>
    </ng-container>
  </div>

  <ion-item>
    <ion-label position="floating">Cantidad de Comensales</ion-label>
    <ion-input type="number" formControlName="capacity"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.capacity">
      <small *ngIf="form.get('capacity').hasError(validation.type) && (form.get('capacity').dirty || form.get('capacity').touched)">
        {{ validation.message }}
      </small>
    </ng-container>
  </div>

  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input type="text" formControlName="type"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.type">
      <small *ngIf="form.get('type').hasError(validation.type) && (form.get('type').dirty || form.get('type').touched)">
        {{ validation.message }}
      </small>
    </ng-container>
  </div>

  <br>
  <ion-item-group>
    <ion-button color="primary" (click)="takePhoto()" [disabled]="!form.get('number').valid">Sacar Foto</ion-button>

    <ion-button type="submit" [disabled]="!form.valid" *ngIf="!modification">Registrar</ion-button>
    <ion-button color="medium" type="submit" [disabled]="!form.valid" *ngIf="modification">Modificar</ion-button>
  </ion-item-group>
  <br>

  <ion-card color="light" *ngIf="image != undefined && image != null">
    <ion-card-content>
      <ion-fab vertical="top" horizontal="end">
        <ion-fab-button class="delete-btn" size="small" color="danger" (click)="deletePhoto(image.name)">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <img src="{{image.url}}">
    </ion-card-content>
  </ion-card>
</form>