#confirm{
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 10%;
}

#scroll{
    overflow: auto;
    height: 90%;
    padding: 15px;
}

// #scanner{
//     position: absolute;
//     right: 0px;
//     margin: 19px;
// }

// #tipSelector{
//     display: flex;
// }

ion-card {
    background-color: white;
}
