<app-custom-header [title]="'Pago'"></app-custom-header>

<ion-content>
  <div id="scroll">

    <h2>Pedidos</h2>
    <ion-item *ngFor="let menu of menus" color="transparent">
      <span>x{{menu.quantity}} {{menu.name}}</span>
      <span slot="end">${{menu.price * menu.quantity}}</span>
    </ion-item>
    
    <h2>Descuentos</h2>
    <ion-item *ngIf="attention?.discount" color="transparent">
      <span>Descuento del 10%</span>
    </ion-item>
    <ion-item *ngIf="attention?.freeDrink && freeDrink" color="transparent">
      <span>Bebida gratis</span>
      <span slot="end">${{freeDrink?.name}}</span>
    </ion-item>
    <ion-item *ngIf="attention?.freeDessert && freeDesert" color="transparent">
      <span>Postre gratis</span>
      <span slot="end">${{freeDessert?.name}}</span>
    </ion-item>

    <ion-item lines="none" color="transparent">  
      <h2>Propina</h2>
      <ion-button slot="end" (click)="scanQr()"><ion-icon name="qr-scanner"></ion-icon></ion-button>
    </ion-item>
    <ion-label>El valor mostrado es en porcentaje (%)</ion-label>
    <ion-item color="transparent">
      <ion-range [(ngModel)]="tip" min="0" max="20" step="5" value="10" snaps pin color="dark">
        <ion-icon slot="start" color="danger" name="sad"></ion-icon>
        <ion-icon slot="end" color="success" name="happy"></ion-icon>
      </ion-range>
    </ion-item>
  </div>

  <ion-button id="confirm" expand="full" (click)="payBill()" [disabled]="tip == undefined">Solicitar cuenta por: ${{getTotal()}}</ion-button>
</ion-content>
