<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Encuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <img class="brand-icon" src="assets/images/brand.png" alt="">
    <section class="ion-text-center ion-margin-bottom" *ngIf="currentUser?.profile == 'admin'">
      <ion-grid>
        <ion-row>         
          <ion-col col-6>
            <ion-card routerLink="/encuestas-cliente" class="ion-text-center ion-padding" color="dark">
              <ion-icon name="clipboard"></ion-icon>
              <h2>Encuestas Clientes</h2>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>         
          <ion-col col-6>
              <ion-card routerLink="/encuestas-empleado" class="ion-text-center ion-padding" color="dark">
                <ion-icon name="clipboard"></ion-icon>          
                <h2>Encuestas Empleados</h2>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>
</ion-content>
