<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="usuarios">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clientes">
      <ion-icon name="people"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mesas">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Mesas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>