#total {
    position: fixed;
    bottom: 0;
    width: 100%;
    --ion-background-color: var(--ion-color-primary);
    color: white;
}

#scroll {
    overflow: auto;
    height: 94%;
}

#payBill {
    float: right;
}

.orders {
    padding: 5px;
    width: 100%;
}

#empty {
    position: relative;
    text-align: center;
    margin-top: 80px;
    padding: 15%;
}
