<app-custom-header [title]="'Pedido'"></app-custom-header>

<ion-content>
  <div>
    <ion-button id="payBill" color="primary" (click)="payBill()">Solicitar Cuenta</ion-button>
  </div>
  <ion-list class="orders" *ngFor="let order of orders; index as i">
    <ion-list-header>
      <h2>Pedido {{i + 1}}</h2>
    </ion-list-header>
    <ion-item *ngFor="let menu of order.menu">
      <span>X{{menu.quantity}} {{menu.name}}</span>
      <span slot="end">${{menu.price * menu.quantity}}</span>
      <ion-button slot="end" *ngIf="order.status == 'confirmado'" color="success">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <ion-button slot="end" *ngIf="order.status != 'confirmado'" color="primary" (click)="showDetails()">
        <ion-icon name="timer"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item id="total">
    <span>Total:</span>
    <span slot="end">${{total}}</span>
  </ion-item>
</ion-content>
