<app-custom-header [title]="'Pedido'"></app-custom-header>

<ion-content>
  <div id="scroll">
    <ion-button id="payBill" color="primary" (click)="payBill()" [disabled]="orders.length == 0">Solicitar Cuenta</ion-button>
    <h3 id="empty" *ngIf="!orders.length">Aún no ha realizado ningún pedido</h3>
    <ion-list class="orders" *ngFor="let order of orders; index as i">
      <ion-list-header>
        <h2>Pedido {{i + 1}}</h2>
        <ion-button *ngIf="(order.statusFood == Status.Delivered || order.statusFood == undefined) && (order.statusDrink == Status.Delivered || order.statusDrink == undefined)" color="success" (click)="confirm(i)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button *ngIf="validateOrder(order)" color="primary" (click)="showDetails(i)">
          <ion-icon name="timer"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let menu of order.menu" [disabled]="order.statusFood == Status.Confirmed && order.statusDrink == Status.Confirmed" color="transparent">
        <span>x{{menu.quantity}} {{menu.name}}</span>
        <span slot="end">${{menu.price * menu.quantity}}</span>
      </ion-item>
    </ion-list>
  </div>
  <ion-item id="total">
    <span>Total:</span>
    <span slot="end">${{total}}</span>
  </ion-item>
</ion-content>