<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons *ngIf="!showSearchBar" slot="start">
      <ion-menu-button></ion-menu-button>    
    </ion-buttons>

    <ion-title *ngIf="!showSearchBar">Clientes</ion-title>

    <ion-searchbar *ngIf="showSearchBar" no-border placeholder="Buscar..." (ionChange)="search($event)"
      (ionCancel)="showSearchBar = false" [debounce]="250" showCancelButton="always"></ion-searchbar>

    <ion-buttons slot="primary">
      <ion-button *ngIf="!showSearchBar" icon-only (click)="showSearchBar = true">
        <ion-icon size="large" slot="icon-only" color="primary" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div scrolly="true" class="pendingAprobalContainer">

    <ion-list class="transparent">
      <ion-list-header>Pendientes de Aprobación</ion-list-header>
      
      <ion-item *ngIf="pendingClients?.length == 0" disabled=true color="transparent">
        <ion-icon class="item-ico" name="person"></ion-icon>
        <ion-label>No hay clientes para aprobar</ion-label>
      </ion-item>

      <ion-item *ngFor="let client of pendingClients | filter: this.searchBarTargetText: 'name'" color="transparent">
        <ion-icon class="icon-right-margin" name="person"></ion-icon>
        <ion-label>{{client.name}} {{client.surname}}</ion-label>
        <ion-button color="success" (click)="approveClient(client)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteClient(client)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

  </div>



  <div scrolly="true" class="pendingAprobalContainer">
    <ion-list class="transparent">
      <ion-list-header>Aprobados</ion-list-header>
      
      <ion-item *ngIf="aprobatedClients?.length == 0" disabled=true color="transparent">
        <ion-icon class="item-ico" name="person"></ion-icon>
        <ion-label>No hay clientes para aprobar</ion-label>
      </ion-item>

      <ion-item *ngFor="let client of aprobatedClients | filter: this.searchBarTargetText: 'name'" color="transparent">
        
        <ion-icon class="icon-right-margin" name="person"></ion-icon>
        <ion-label>{{client.name}} {{client.surname}}</ion-label>
        <ion-button *ngIf="client.status == 'pendienteAprobacion'" color="success" (click)="deleteClient(client)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteClient(client)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>


</ion-content>