.item-ico {
    margin-right: 0.3em;
}

ion-list-header {
    font-weight: bold;
    font-size: 1.1em;
}

ion-list-header > ion-icon {
    font-size: 1.1em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.03em;
}