<app-custom-header [title]="'Juegos'"></app-custom-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-card class="card-padding" color="dark" routerLink="/juegos/memotest">
          <img src="assets/images/memotest/memotest.png" />
          <ion-card-title>Memotest de animales</ion-card-title>
          <ion-card-subtitle>Voltea las cartas para ver las imágenes y comienza a jugar con este divertido juego de
            memoria visual!</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-card class="card-padding" color="dark" routerLink="/juegos/tateti">
          <img src="assets/images/tateti.png" />
          <ion-card-title>Ta Te Ti</ion-card-title>
          <ion-card-subtitle>Ganale a la máquina en el histórico juego de Ta Te Ti</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-card class="card-padding" color="dark" routerLink="/juegos/simon">
          <img src="assets/images/simon.png" />
          <ion-card-title>Simón Dice</ion-card-title>
          <ion-card-subtitle>Podrás recordar la secuencia de colores?</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
