<app-custom-header [title]="'Menú Principal'"></app-custom-header>

<ion-content>
  <div class="background">
    <img class="brand-icon" src="assets/images/brand.png" alt="">
    <section class="ion-text-center ion-margin-bottom" *ngIf="currentUser?.profile == Profiles.Owner">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card routerLink="/listado" class="ion-text-center ion-padding" color="danger">
              <ion-icon name="list"></ion-icon>
              <h2>Administración</h2>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card routerLink="/encuestas" class="ion-text-center ion-padding" color="danger">
              <ion-icon name="clipboard"></ion-icon>
              <h2>Encuestas de Clientes</h2>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <app-client-home *ngIf="currentUser?.profile == 'cliente'"></app-client-home>
    <app-maitre-home *ngIf="currentUser?.profile == 'maitre'"></app-maitre-home>
    <app-waiter-home *ngIf="currentUser?.profile == 'mozo'"></app-waiter-home>
    <app-bartender-home *ngIf="currentUser?.profile == 'bartender'"></app-bartender-home>
    <app-cheff-home *ngIf="currentUser?.profile == 'cocinero'"></app-cheff-home>

  </div>
</ion-content>