<div id="scroll">
  <ion-card>

    <ion-item>
      <h2>Comidas</h2>
    </ion-item>
    <ion-card-content>
      <ion-item *ngIf="foods?.length == 0">
        <ion-icon class="disabled-item item-ico" [src]="'assets/icon/food.svg'">
        </ion-icon>
        <ion-label class="disabled-item">No hay comidas</ion-label>
      </ion-item>

      <ion-item *ngFor="let food of foods" (click)="displayAccountList(food)">
        <ion-icon class="item-ico" [src]="'assets/icon/food.svg'">
        </ion-icon>
        <ion-label>{{food.name}}</ion-label>
        <ion-label class="ion-text-right">${{food.price}}</ion-label>
      </ion-item>
    </ion-card-content>

    <ion-item>
      <h2>Bebidas</h2>
    </ion-item>
    <ion-card-content>
      <ion-item *ngIf="drinks?.length == 0">
        <ion-icon class="disabled-item item-ico" [src]="'assets/icon/drink.svg'">
        </ion-icon>
        <ion-label class="disabled-item">No hay bebidas</ion-label>
      </ion-item>

      <ion-item *ngFor="let drink of drinks" (click)="showDetails(drink)">
        <ion-icon class="item-ico" [src]="'assets/icon/drink.svg'">
        </ion-icon>
        <ion-label>{{drink.name}}</ion-label>
        <ion-label class="ion-text-right">${{drink.price}}</ion-label>
      </ion-item>
    </ion-card-content>

    <ion-item>
      <h2>Postres</h2>
    </ion-item>
    <ion-card-content>
      <ion-item *ngIf="desserts?.length == 0">
        <ion-icon class="disabled-item item-ico" [src]="'assets/icon/dessert.svg'">
        </ion-icon>
        <ion-label class="disabled-item">No hay postres</ion-label>
      </ion-item>

      <ion-item *ngFor="let dessert of desserts" (click)="showDetails(dessert)">
        <ion-icon class="item-ico" [src]="'assets/icon/dessert.svg'">
        </ion-icon>
        <ion-label>{{dessert.name}}</ion-label>
        <ion-label class="ion-text-right">${{dessert.price}}</ion-label>
      </ion-item>
    </ion-card-content>

  </ion-card>
</div>

<ion-button type="submit" id="confirm" [disabled]="order?.total == 0" (click)="sendMenu()">Visualizar Pedido por
  ${{order.total}}</ion-button>