<ion-button color="medium" (click)="scan()">Escanear DNI</ion-button>
<form class="form">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" required [(ngModel)]="user.name" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" required [(ngModel)]="user.surname" name="surname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">DNI</ion-label>
    <ion-input type="number" minlength="8" maxlength="8" required [(ngModel)]="user.dni" name="dni"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CUIL</ion-label>
    <ion-input type="number" minlength="11" maxlength="11" required [(ngModel)]="user.cuil" name="cuil"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" required [(ngModel)]="user.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Clave</ion-label>
    <ion-input type="password" minlength="6" required [(ngModel)]="user.password" name="password"></ion-input>
  </ion-item>
  <ion-item *ngIf="!isClient">
    <ion-label position="floating">Perfil</ion-label>
    <ion-select [(ngModel)]="user.profile" name="profile" placeholder="Seleccione perfil" required>
      <ion-select-option value="mozo">Mozo</ion-select-option>
      <ion-select-option value="cocinero">Cocinero</ion-select-option>
      <ion-select-option value="bartender">Bartender</ion-select-option>
      <ion-select-option value="admin">Dueño</ion-select-option>
      <ion-select-option value="supervisor">Supervisor</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-button color="medium" (click)="takePhoto()">Sacar Foto</ion-button>
  <ion-button color="medium" (click)="register()">Registrar</ion-button>
</form>