<ion-menu disabled="{{disableMenu}}" side="start" contentId="content1">
  <ion-header>
    <ion-toolbar>  
      <ion-title slot="start">Menú</ion-title>
      <ion-chip *ngIf="showOrder" (click)="goTo()" outline color="primary">
        <ion-icon name="restaurant"></ion-icon>
        <ion-label>Total: ${{total}}</ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle>
      <ion-list>
        <ion-item routerLink="/inicio">
          <ion-icon size="medium" name="home"></ion-icon>
          Ir a Inicio
        </ion-item>
        <ion-item routerLink="/configuracion">
          <ion-icon size="medium" name="settings"></ion-icon>
          Configuración
        </ion-item>
        <ion-item (click)="logout()" >
          <ion-icon size="medium" name="exit"></ion-icon>
          Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>