<ion-menu side="start" contentId="content1">
  <ion-header color="dark">
    <ion-toolbar color="dark">
      <ion-title slot="start">Menú</ion-title>
      <ion-menu-toggle>
        <ion-chip *ngIf="showOrder" routerLink="/pedido/detalle" outline color="primary">
          <ion-icon name="restaurant"></ion-icon>
          <ion-label>Total: ${{total}}</ion-label>
        </ion-chip>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle>
      <ion-list>
        <ion-item routerLink="/inicio" color="transparent">
          <ion-icon size="medium" name="home"></ion-icon>
          Ir a Inicio
        </ion-item>
        <ion-item routerLink="/configuracion" color="transparent">
          <ion-icon size="medium" name="settings"></ion-icon>
          Configuración
        </ion-item>
        <ion-item *ngIf="currentUser?.profile == Profiles.Client" routerLink="/delivery" color="transparent">
          <ion-icon size="medium" name="timer"></ion-icon>
          Envío a Domicilio
        </ion-item>
        <ion-item (click)="logout()" color="transparent">
          <ion-icon size="medium" name="exit"></ion-icon>
          Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>