<div class="container">
  <div class="simonBoard">
    <div class="pad" id="pad1" colour="green" (click)="validate($event)"></div>
    <div class="pad" id="pad2" colour="red" (click)="validate($event)"></div>
    <div class="pad" id="pad3" colour="yellow" (click)="validate($event)"></div>
    <div class="pad" id="pad4" colour="blue" (click)="validate($event)"></div>
    <div id="center"></div>
  </div>
  <div id="controls">
    <ion-button type="button" color="success" (click)="startGame()" id="start" [disabled]="start">Start</ion-button>
    <ion-button type="button" color="danger" (click)="restartGame()" id="reset">Reset</ion-button>
  </div>
</div>