<ion-list class="transparent">
  <ion-item *ngIf="currentOrder.destination" color="transparent">
    <ion-label>
      <h2>Dirección de Entrega</h2>
      <h3>{{currentOrder.destination}}</h3>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="currentOrder.time" color="transparent">
    <ion-label>
      <h2>Tiempo Estimado de Entrega</h2>
      <h3>{{currentOrder.time}}</h3>
    </ion-label>
  </ion-item>
  <ion-item color="transparent">
    <ion-label>
      <h1>Pedido</h1>
      <h3 style="text-align: center; padding: 5px;" *ngFor="let product of currentOrder.menu">
        <span style="float: left">x{{product.quantity}}</span> 
        <span>{{product.name}}</span>
        <span style="float: right">${{product.price * product.quantity}}</span>
      </h3>
    </ion-label>
  </ion-item>
</ion-list>

<ion-button id="confirm" expand="full" (click)="saveOrder()">Confirmar Pedido por ${{currentOrder.total}}</ion-button>